.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.retrama-logo {
    background: linear-gradient(45deg, #61dafb, #ff6b6b);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

code {
    background-color: #f1f1f1;
    padding: 2px 4px;
    border-radius: 3px;
    color: #333;
}

/* Estilos para las flechas de navegación del Swiper */
.swiper-button-next,
.swiper-button-prev {
    color: #57b33e !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #459c2e !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 24px;
    font-weight: bold;
}

.overlay-grey {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 29, 29, 0.86);
    zIndex: 1;
}